
.meme-area {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    min-height: 400px;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    color: darkred;
}

.meme-area img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    max-height: 380px;
    object-fit: contain; 
}
/* Force the button to use the custom cursor instead of the default "pointer" hand */
button {
    cursor: url('/assets/img/pizza-cursor.cur'), auto;
}